<div class="container">
	<div class="panel panel-default ">
		<div class="panel-heading center">Please use the payment button below to 	      preorder with Bitcoin
		</div>
		<div class="panel-body center"><%= link_to "Pay with Bitcoin", buy_path, class: "btn btn-warning" %>
		</div>
	</div>

	<div class="panel panel-default ">
		<div class="panel-heading center">Please use the following link to preorder via Credit Card 
		</div>
		<div class="panel-body center"><%= link_to "Pay at Hash Rate Store", "http://www.hashratestore.com/shop/asic/nanofury-yellowjacket-bitfury-usb-asic/" , class: "btn btn-warning" %>
		</div>
	</div>
</div>

