<div class="container">
<div class="row ">
  <div class="col-md-6 ">
  	<div class=" contact1 panel panel-bullet panel-default ">
  		<div class="panel-heading center">
  			<h2 class="panel-title">Contact Us</h2>
		</div>
		<div class="panel-body ">
			<p>
			Email: <%= mail_to "info@bitgtr.com" %><br><br>

			Please Provide:<br>
			<li>Your name*<br></li>
			<li>A descriptive subject heading (FAQ, Order, Information)*<br></li>
			<li>And a brief message*<br><br></li>
			

			Thank you!
			<p>
		</div>
	</div>
  </div>
  <div class="col-md-6 ">
  	<div class=" contact2 panel panel-bullet panel-default ">
  		<div class="panel-heading center">
  			<h1 class="panel-title">Social Media</h1>
		</div>
		<div class="panel-body ">
			<p>
			Follow us on <%= link_to "Twitter", "www.twitter.com" %> /placeholder<br><br>
			Friend us on <%= link_to "Facebook", "www.facebook.com" %> /placeholder<br><br>
			Circle us on <%= link_to "Google+", "plus.google.com" %> /placeholder<br><br>
			</p>
		</div>
	</div>
  </div>
</div>
</div>