<div class="container">
	
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">1. What is The Yellowjacket?</h2>
  </div>
  <div class="panel-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dui ante, porta at tristique ultricies, consectetur eu leo. Sed vulputate nisl at mauris pharetra, dignissim ullamcorper augue laoreet. Donec lectus massa, accumsan accumsan venenatis eu, lobortis non odio. Nullam venenatis, nibh eget pharetra rhoncus, dui sem interdum leo, vel euismod mi lacus vitae odio. Morbi in sem lorem. Morbi volutpat tristique purus, id viverra mi vehicula non. Vivamus a nisi auctor, placerat nibh quis, tempus nunc. Nulla ac velit lectus. Fusce erat risus, placerat molestie urna eget, molestie faucibus lacus. Vestibulum malesuada orci eget nisi convallis convallis. </p>
  </div>
</div>
	
<div class="panel panel-default">
  <div class="panel-heading">
	<h2 class="panel-title">2. Will it work with cgminer and bfgminer?</h2>
  </div>
  <div class="panel-body">
	<p>Donec dictum bibendum urna, in rutrum leo adipiscing non. Vestibulum dui massa, tincidunt eu diam vel, venenatis faucibus elit. Nam condimentum consectetur commodo. In vulputate dui accumsan, imperdiet nibh vel, porttitor lorem. Sed non nulla ac nunc blandit egestas. Morbi iaculis a nisl eget accumsan. </p>
   </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">	
	<h2 class="panel-title">3. Will you ship around the world?</h2>
  </div>
  <div class="panel-body">
	<p>Vivamus a nisi auctor, placerat nibh quis, tempus nunc. Nulla ac velit lectus. Fusce erat risus, placerat molestie urna eget, molestie faucibus lacus. Vestibulum malesuada orci eget nisi convallis convallis.</p>
  </div>
</div>	

<div class="panel panel-default">
  <div class="panel-heading">	
	<h2 class="panel-title">4. What is the return policy?</h2>
  </div>
  <div class="panel-body">
	<p>Morbi in sem lorem. Morbi volutpat tristique purus, id viverra mi vehicula non. Vivamus a nisi auctor, placerat nibh quis, tempus nunc. Nulla ac velit lectus. Fusce erat risus</p>
  </div>
</div>  	

<div class="panel panel-default">
  <div class="panel-heading">	
	<h2 class="panel-title">5. What kind of speeds are we looking at?</h2>
  </div>
  <div class="panel-body">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dui ante, porta at tristique ultricies, consectetur eu leo. Sed vulputate nisl at mauris pharetra, dignissim ullamcorper augue laoreet. Donec lectus massa, accumsan accumsan venenatis eu, lobortis non odio. Nullam venenatis, nibh eget pharetra rhoncus, dui sem interdum leo, vel euismod mi lacus vitae odio. Morbi in sem lorem. Morbi volutpat tristique purus, id viverra mi vehicula non. Vivamus a nisi auctor, placerat nibh quis, tempus nunc. Nulla ac velit lectus.</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">	
	<h2 class="panel-title">6. What do I need to run the yellowjacket?</h2>
  </div>
  <div class="panel-body">
	<p>dignissim ullamcorper augue laoreet. Donec lectus massa, accumsan accumsan venenatis eu, lobortis non odio. Nullam venenatis, nibh eget pharetra rhoncus, dui sem interdum leo, vel euismod mi lacus vitae odio. Morbi in sem lorem. Morbi volutpat tristique purus, id viverra mi vehicula non. Vivamus a nisi auctor, placerat nibh quis, tempus nunc. Nulla ac velit lectus.</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">	
	<h2 class="panel-title">7. Where can I get the yellowjacket?</h2>
  </div>
  <div class="panel-body">
	<p>orem. Morbi volutpat tristique purus, id viverra mi vehicula non. Vivamus a nisi auctor, placerat nibh quis, tempus nunc. Nulla ac velit lectu</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">	
	<h2 class="panel-title">8. When is the yellowjacket on sale?</h2>
  </div>
  <div class="panel-body">
	<p>orem. Morbi volutpat tristique purus, id viverra mi vehicula non. Vivamus a nisi auctor, placerat nibh quis, tempus nunc. Nulla ac velit lectu orem. Morbi volutpat tristique purus, id viverra mi vehicula non. Vivamus a nisi auctor, placerat nibh quis, tempus nunc. Nulla ac velit lectu</p>
	</div>
</div>


<div class="center question">
	<%= link_to "Have a question?", contact_path, class: "btn btn-warning tn-lg " %>
</div>

</div>