<div class="jumbotron center">
	<h2>Introducing the Bitgretiefter Yellowjacket!</h2>
		<p>Click here to <%= link_to "Buy Now", buy_path, class: "btn btn-warning" %></p>
</div>

<div class="banner1">
<%= image_tag("banner1.jpg") %>
</div>

<div class="jumbotron">
	<ul class="bullet">
		<li>Based on the Nanofury open source design</li>
		<li>Compact footprint (47.5mm x 30mm x 3mm)</li>
		<li>Real-world performance of 2.2GH/s, no overclocking or modding required</li>
		<li>No fan or heatsink required at stock settings (still recommended though)</li>
		<li>Native bfgminer support</li>
		<li>Black anodised aluminium backplate for added durability</li>
		<li>0.01BTC flat rate shipping to anywhere in the world </li>
		<li>Free shipping on orders of 2 or more</li>
	</ul>
</div>