<div class="banner1 img-responsive">
<%= image_tag("banner3.png") %>
</div>


<div class="row">
  <div class="col-md-6">
  	<h4>Welcome to Bitgretiefter LTD.</h4><h5>We are happy to announce the Bitgretiefter Yellowjacket for your your Bitcoin mining needs! The Yellowjacket comes out in January 2014. Get your pre-orders now!</h5>
		<br>
	<%= link_to "Preorder", buy_path, class: "btn btn-warning" %>
  </div>
    <div class="col-md-6">
		<div class="panel panel-bullet panel-default ">
			<div class="panel-body">
				<ul class="bullet">
					<li>Based on the Nanofury open source design</li>
					<li>Compact footprint (47.5mm x 30mm x 3mm)</li>
					<li>Real-world performance of 2.2GH/s, no overclocking or modding required</li>
					<li>No fan or heatsink required at stock settings (still recommended though)</li>
					<li>Native bfgminer support</li>
					<li>Black anodised aluminium backplate for added durability</li>
					<li>0.01BTC flat rate shipping to anywhere in the world </li>
					<li>Free shipping on orders of 2 or more</li>
				</ul>
			</div>
		</div>
	</div>
</div>
		  	
  