@import url(http://fonts.googleapis.com/css?family=Lato);

$body-bg: #CCCCCC;
$font-family: 'Lato', sans-serif;
$navbar-inverse-bg: #F5F5F5;
$navbar-inverse-link-color: #7f8c8d;
$navbar-inverse-brand-color: #e67e22;
$brand-warning: #e67e22;
$navbar-height: 50px;
$font-size-base: 18px;
$navbar-inverse-link-hover-color: #e67e22;
$navbar-inverse-brand-hover-color: #7f8c8d;
$navbar-inverse-toggle-icon-bar-bg: #e67e22;
$link-color: #E65C00;

@import 'bootstrap';

body { 
	padding-top: 110px; 
}

footer small {
  float: left;
  font-size: small;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer a:hover {
  color: #e67e22;
}

footer a {
	color:#7f8c8d;
	font-size: small;
}

footer {
	width:100%;
	margin-top:1.5em;
}

/*li {
	list-style-type:none;
}*/

.banner1 {
    margin-bottom:1.0em;
    margin-top: -2.0em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.center {
	text-align: center;
	padding:15px;
}

.navbar-brand {
	font-weight: bold;
}

.question {
	margin-bottom:25px;
	font-weight:bold;
}

.panel-warning {
	margin:6%;
	padding:1%;
}

.navbar {
	border-bottom-color: black;
}

.panel-bullet {
	background-color: #F5F5F5;
	margin-top:1em;
}

h4 {
	color:#E65C00;
	text-align:center;
}

.payment {
	margin-bottom:3em;
}

.homebutton {
	margin-top:.72em;
}

.buysmall1 {
	font-size:small;
	list-style-type:none;
	margin-bottom:1.5em;
	text-align: left;
	padding:10px;
}

.buysmall2 {
	font-size:small;
	list-style-type:none;
	text-align: left;
	padding:10px;
	padding-bottom:1.2em;
}

.homesmall {
	padding-bottom:0.4em;
}


